
<div class="row" style="margin-top: 20px">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nazwa grupy</th>
            </tr>
        </thead>
        <tbody>
                <tr ng-repeat="group in groups" ng-click="onGroupClick(group)">
                    <td>
                       {{group.Name}}
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<hr />
<div class="row" style="margin-top: 20px">
    <form>
    <div class="edit-group-box col-sm-12">
        <div class="col-sm-1" style="text-align: right">Nazwa:</div>
        <div class="col-sm-5">
            <input type="text" ng-model="selectedGroup.Name" required />
        </div>
        <div class="col-sm-2">
            <input class="button" type="submit" ng-click="onAddClick()" value="Nowy" />
        </div>
        <div class="col-sm-2">
            <input class="button" type="submit" ng-click="onEditClick()" value="Zapisz" ng-disabled="!selectedGroup.IDGroup" />
        </div>
        <div class="col-sm-2">
            <input class="button" type="submit" ng-click="onDeleteClick()" value="Usuń" ng-disabled="!selectedGroup.IDGroup" />
        </div>
    </div>
    </form>
</div>
<div ng-if="error" class="row error-message">
    {{error}}
</div>